
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    grid-row: 1;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

.content {
    grid-row: 2;
}

.footer {
    grid-row: 3;
    background-color: #25212B;
    padding: 10px;
}
body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
  
  nav {
    background-color: #25212B;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #000;
  }

p {
    color:#ffffff;
}
address {
    text-align: left;
}
h3 {
    color: #fff;
}

Telefon{
    text-align: right;
}